services:
  app:
    image: your-app:latest
    build: .
    environment:
      - DB_URL=${DB_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ACCESS_EXPIRATION_MIN=${JWT_ACCESS_EXPIRATION_MIN}
      - JWT_REFRESH_EXPIRATION_DAYS=${JWT_REFRESH_EXPIRATION_DAYS}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ADMIN_FULLNAME=${ADMIN_FULLNAME}
      - ADMIN_POSITION=${ADMIN_POSITION}
    ports:
      - "8080:8080"
    volumes:
      - app-logs:/app/logs
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: my_postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    volumes:
        - grafana-data:/var/lib/grafana

volumes:
  app-logs:
  grafana-data:
  postgres-data:

